{% extends 'myWebsite/base.html' %}

{% block title %}
Projects
{% endblock %}

{% block page %}
My Projects
{% endblock %}

{% block content %}

<h2>Japanese NLP Project: Japanese NLP Testing</h2> <br>
<div class="container">
	<div class="row">
		<div class="align-self-center">
			{% load static %}
			<img height="60px", width="550px" src="{% static "myWebsite/JapaneseProcessing.png" %}"/>
		</div>
		<div class="align-self-end">
			<p> This project takes Japanese Machine Learning tweet data found on Kaggle to test Japanese Language Processing. This project goes through all the difficulty I encountered in trying to tokenize and work with Japanese data, including loading the Japanese processing model, extracting individual words, stopwords, and trying to explore a little with matplotlib. This was stuff that was not explicitly out there as a model to follow while I was trying to do this, so I hope having the whole analysis in one place can help people trying to analyze Japanese in the future.</p>
		</div>
		<div class="col-1.5">
			{% load static %}
			<img height="100px", width="100px", src="{% static "myWebsite/GitHub-Mark.png" %}"/>

		</div>
		<div class="col-10.5", align="left", style="margin-top:30px">
			<div class="link">
				<b><a href="https://github.com/Luna-McBride/Kaggle_Personal_Projects/tree/master/Natural%20Language%20Processing/Japanese_NLP_Testing", target="_blank"> Japanese NLP Github </a></b>
			</div>
		</div>
	</div>
</div>
<hr class="mt-0 mb-4">
<br>

<h2>Computer Vision Project: Pokemon Image Classification</h2> <br>
<div class="container">
	<div class="row">
		<div class="align-self-center">
			{% load static %}
			<img height="360px", width="360px" src="{% static "myWebsite/rotom.png" %}"/>
		</div>
		<div class="align-self-end">
			<p> This project takes an image set of all Pokemon from generations 1-7 and classifies which generation they come from by image alone, utilizing a deep learning Keras model. The model was able to classify the correct generation with 85% accuracy. This is not an "old Pokemon" versus "New Pokemon" split, but rather classifying the Pokemon into their specific generation number, 1-7. This result shows that there are unique characteristics of the Pokemon of each generation that goes beyond the new versus old mentality many in the fandom seem to hold.</p>
		</div>
		<div class="col-1.5">
			{% load static %}
			<img height="100px", width="100px", src="{% static "myWebsite/GitHub-Mark.png" %}"/>

		</div>
		<div class="col-10.5", align="left", style="margin-top:30px">
			<div class="link">
				<b><a href="https://github.com/Luna-McBride/Kaggle_Personal_Projects/tree/master/Computer%20Vision/Pokemon_Generation_Computer_Vision_Project", target="_blank"> Pokemon Vision Project </a></b>
			</div>
		</div>
	</div>
</div>
<hr class="mt-0 mb-4">
<br>

<h2>Data Regression Project: House Price Data</h2> <br>
<div class="container">
	<div class="row">
		<div class="align-self-center">
			{% load static %}
			<img height="200px", width="550px" src="{% static "myWebsite/RegressionAccuracies.png" %}"/>
		</div>
		<div class="align-self-end">
			<p> This project took multiple regression methods and pitted them against one another to see which one would give the most accurate reading into which attributes drove up the house price the most. The most accurate models were the trees, that stood around 87-88% depending on the run. That beat out the lowest single tree by nearly 13% and the regular linear regression by around 10%. On top of that, the characteristics the random forest model gave were compared to that of the linear regression, which showed an interesting despartity between the two models' top choices.</p>
		</div>
		<div class="col-1.5">
			{% load static %}
			<img height="100px", width="100px", src="{% static "myWebsite/GitHub-Mark.png" %}"/>

		</div>
		<div class="col-10.5", align="left", style="margin-top:30px">
			<div class="link">
				<b><a href="https://github.com/Luna-McBride/Kaggle_Personal_Projects/tree/master/Regression/House_Regression_Project", target="_blank"> House Price Regression Github </a></b>
			</div>
		</div>
	</div>
</div>
<hr class="mt-0 mb-4">
<br>

<h2>Data Clustering Project: Bank Data Clustering</h2> <br>
<div class="container">
	<div class="row">
		<div class="align-self-center">
			{% load static %}
			<img height="550px", width="550px" src="{% static "myWebsite/cluster.png" %}"/>
		</div>
		<div class="align-self-end">
			<p> This project stemmed from seeing data I had not seen up to that point and learning to wrangle it. In this case, it was putting bank data into clusters. After cleaning the data, deciding what features to use emphasize, and figuring how many clusters to use, I came out with 3 distinct cluster. In taking the mean of those in each cluster, I found three groups these bankers can fit in. Those were the low engagers (people who spend less and save less), the heavy spenders (the people who spend more and have more in payments, but keep less in the bank at a time), and the savers (those who have a lot in the bank, but rarely purchase and have less payments to make)</p>
		</div>
		<div class="col-1.5">
			{% load static %}
			<img height="100px", width="100px", src="{% static "myWebsite/GitHub-Mark.png" %}"/>

		</div>
		<div class="col-10.5", align="left", style="margin-top:30px">
			<div class="link">
				<b><a href="https://github.com/Luna-McBride/Kaggle_Personal_Projects/tree/master/Data%20Clustering/Bank_Data_Clustering", target="_blank"> Bank Clustering Github </a></b>
			</div>
		</div>
	</div>
</div>
<hr class="mt-0 mb-4">
<br>

<h2>Data Classification Project: Census Income Classification</h2> <br>
<div class="container">
	<div class="row">
		<div class="align-self-center">
			{% load static %}
			<img height="200px", width="550px" src="{% static "myWebsite/CensusAccuracies.png" %}"/>
		</div>
		<div class="align-self-end">
			<p> This project takes very messy census data, cleans it up, then classifies the entries by their income. There were two income brackets being classified, being less than or equal to 50K a year and more than 50K a year. This project compares multiple different methods of classification, maxing out at an accuracy of about 85%. The difference between the lowest accuracy Decision Tree and the highest accuracy Gradient Boost was about 6%.</p>
		</div>
		<div class="col-1.5">
			{% load static %}
			<img height="100px", width="100px", src="{% static "myWebsite/GitHub-Mark.png" %}"/>

		</div>
		<div class="col-10.5", align="left", style="margin-top:30px">
			<div class="link">
				<b><a href="https://github.com/Luna-McBride/Kaggle_Personal_Projects/tree/master/Data%20Classification/Census_Classification_Project", target="_blank"> Census Classification Github </a></b>
			</div>
		</div>
	</div>
</div>
<hr class="mt-0 mb-4">
<br>

<h2>Data Exploration Project: Glassdoor Job Data</h2> <br>
<div class="container">
	<div class="row">
		<div class="align-self-center">
			{% load static %}
			<img height="250px", width="500px" src="{% static "myWebsite/SizexDesc.png" %}"/>
		</div>
		<div class="align-self-end">
			<p> This project takes Glassdoor data found on Kaggle in order to analyze various aspects of the data, including which companies are more wordy with their descriptions and which aspects affect the estimated salary.</p>
		</div>
		<div class="col-1.5">
			{% load static %}
			<img height="100px", width="100px", src="{% static "myWebsite/GitHub-Mark.png" %}"/>

		</div>
		<div class="col-10.5", align="left", style="margin-top:30px">
			<div class="link">
				<b><a href="https://github.com/Luna-McBride/Kaggle_Personal_Projects/tree/master/Data%20Exploration/Data_Analytics_Glassdoor_Job_Exploration", target="_blank"> Glassdoor Exploration Github </a></b>
			</div>
		</div>
	</div>
</div>
<hr class="mt-0 mb-4">
<br>

<h2>Tweet Classification Project: Coronavirus Tweet Negativity</h2> <br>
<div class="container">
	<div class="row">
		<div class="align-self-center">
			{% load static %}
			<img height="60px", width="500px" src="{% static "myWebsite/Accuracy.png" %}"/>
		</div>
		<div class="align-self-end">
			<p> This project takes tweet data found on kaggle to predict the sentiment on tweets, using Spacy for NLP. While I would say Spacy is not as strong for prediction purposes, the project was meant to practice some of the concepts conveyed in the Kaggle NLP course. The best accuracy I got for the sentiment prediction was 76.2%.</p>
		</div>
		<div class="col-1.5">
			{% load static %}
			<img height="100px", width="100px", src="{% static "myWebsite/GitHub-Mark.png" %}"/>

		</div>
		<div class="col-10.5", align="left", style="margin-top:30px">
			<div class="link">
				<b><a href="https://github.com/Luna-McBride/Kaggle_Personal_Projects/tree/master/Natural%20Language%20Processing/Coronavirus_Tweet_Sentiment_Classification", target="_blank"> Coronavirus Tweet Classification Github </a></b>
			</div>
		</div>
	</div>
</div>
<hr class="mt-0 mb-4">
<br>

<h2>Django/Bootstrap Project: This Website</h2> <br>
<div class="container">
	<div class="row">
		<div class="align-self-center">
			{% load static %}
			<img height="200px", width="300px" src="{% static "myWebsite/myWebsite.png" %}"/>
		</div>
		<div class="align-self-end">
			<p> This website itself is a project to show off. Built using a combination of Django and Bootstrap, this website was made for the task of making, well, a website. The base form of this website has three pages, which should become more as I explore more with Django or make more projects in general.</p>
		</div>
	</div>
</div>
<hr class="mt-0 mb-4">
<br>

<h2>Tableau Project: Chase Bank Data</h2>
<div class="container">
	<div class="row">
		<div class="align-self-center">
			{% load static %}
			<img height="200px", width="300px", src="{% static "myWebsite/ChaseDepositGraph.png" %}"/>
		</div>
		<div class="align-self-end">
			<p>This project was a combination of SSIS and Tableau to gain information from deposit data Chase Bank posted on Kaggle (https://www.kaggle.com/chasebank/bank-deposits). SSIS was done first to make sure there were no problems with the data when put into a SQL Server database. This was then pushed back to an Excel file (since free Tableau does not have direct integration with SQL Server) and various graphs were then made in Tableau to gain insight on the data. If you would like to see the data and graphs, see the Github link below.</p> <br>
		</div>

		<div class="col-1.5">
			{% load static %}
			<img height="100px", width="100px", src="{% static "myWebsite/GitHub-Mark.png" %}"/>

		</div>
		<div class="col-10.5", align="left", style="margin-top:30px">
			<div class="link">
				<b><a href="https://github.com/Luna-McBride/Kaggle_Personal_Projects/tree/master/Data%20Exploration/Chase_Bank_Data_Exploration", target="_blank"> Chase Project Github </a></b>
			</div>
	</div>
</div>
</div>
<hr class="mt-0 mb-4">
<br><br>

<h2>Python AI Project: Pac-Maze</h2>
<div class="container">
	<div class="row">
		<div class="align-self-center">
			{% load static %}
			<img height="200px", width="250px", src="{% static "myWebsite/Pacman.png" %}"/>
		</div>
		<div class="align-self-end">
			<p> This project was done in my AI class to visualize various search algorithms, specifically Depth First, Bredth First, Uniform Cost, and A*. While I did not make the visuals myself (emulating such visuals would be a whole project on its own), I implemented the search algorithms and watched the little pac go. If you would like to check this out further, check out the github page. The code for the searches are in search.py. For arguments to run the pacs and more information on intent of the assignment, check out the "Assignment1_ProblemA" PDF. </p> <br>
		</div>

		<div class="col-1.5">
			{% load static %}
			<img height="100px", width="100px", src="{% static "myWebsite/GitHub-Mark.png" %}"/>

		</div>
		<div class="col-10.5", align="left", style="margin-top:30px">
			<div class="link">
				<b><a href="https://github.com/Luna-McBride/School_Work/tree/master/Undergrad/CSCI-3202-Intro-to-AI/Homework1", target="_blank"> Pac Project Github </a></b>
			</div>
	</div>
</div>
</div>
<hr class="mt-0 mb-4">
<br><br>

<h2>SQL/SSIS Project: VehicleServices</h2>
<div class="container">
	<div class="row">
		<div class="align-self-start">
			{% load static %}
			<img height="200px", width="300px", src="{% static "myWebsite/VehicleServicesWriteupImage.png" %}"/>
		</div>
		<div class="align-self-end">
			<p>This project was done in the data preparation section of the Data Science Udemy Course. This, along with other parts of this section, was made to show the SSIS process while showing common errors, such as more or fewer rows than expected. If you would like to see more, check out the word document writeup in the VehicleServices directory (Github link below).</p> <br>
		</div>

		<div class="col-1.5">
			{% load static %}
			<img height="100px", width="100px", src="{% static "myWebsite/GitHub-Mark.png" %}"/>

		</div>
		<div class="col-10.5", align="left", style="margin-top:30px">
			<div class="link">
				<b><a href="https://github.com/Luna-McBride/Data_Science_A-Z---Udemy/tree/master/Data%20Preparation/20200210%20HW%20VehicleService", target="_blank"> VehicleServices Github </a></b>
			</div>
	</div>
</div>
</div> 
<hr class="mt-0 mb-4">
<br><br>

<h2>Neural Network Project: 5 and 2 (From My AI Class)</h2>
<div class="container">
	<div class="row">
		<div class="align-self-start">
			{% load static %}
			<img height="200px", width="300px", src="{% static "myWebsite/52.png" %}"/>
		</div>
		<div class="align-self-end">
			<p>Just thought I would throw in an interesting project from one of my classes. This project had me draw 2's and 5's, which were then used for classification purposes in a hopfield network and then multi-layer perceptrons. The code itself is a bit harder to read, which I have been trying to get better about over time, but I think actual reading of the 2's and 5's is interesting, especially since the hopfield had a hard time with my 2's due to how I write them. If you would like to take a look at this project, you can see it through the github link below:</p>
		</div>
		<div class="col-1.5">
			{% load static %}
			<img height="100px", width="100px", src="{% static "myWebsite/GitHub-Mark.png" %}"/>

		</div>
		<div class="col-10.5", align="left", style="margin-top:30px">
			<div class="link">
				<b><a href="https://github.com/Luna-McBride/School_Work/tree/master/Undergrad/CSCI-3202-Intro-to-AI/Homework4", target="_blank"> Neural Network (Homework 4) Github </a></b>
			</div>
	</div>
</div> <br><br>
	</div>
<br> <br>
{% endblock %}